pipeline/DelimitedDynamicmapping.json
{
	"name": "DelimitedDynamicmapping",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_getColumnMapping]",
						"storedProcedureParameters": {
							"inboundSourceSetupID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.InboundSourceSetupID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data Delimited",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "InboundSourceSetupID",
								"value": {
									"value": "@string(pipeline().parameters.InboundSourceSetupID)",
									"type": "Expression"
								}
							},
							{
								"name": "FileReceivedID",
								"value": {
									"value": "@string(pipeline().parameters.FileReceivedID)",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": {
								"value": "@sub(int(pipeline().parameters.dataHeaderRowNumber),1)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"value": "@json(activity('Lookup1').output.firstRow.json_output)",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "NonVoyaIngestion",
						"type": "DatasetReference",
						"parameters": {
							"delimiter": {
								"value": "@pipeline().parameters.delimiter",
								"type": "Expression"
							},
							"container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"folder": {
								"value": "@pipeline().parameters.folder",
								"type": "Expression"
							},
							"filenamewithextenseion": {
								"value": "@pipeline().parameters.filenamewithextension",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlIngestionTable",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"FileVendorID": {
				"type": "Int"
			},
			"InboundSourceSetupID": {
				"type": "Int"
			},
			"FileReceivedID": {
				"type": "Int"
			},
			"delimiter": {
				"type": "String"
			},
			"container": {
				"type": "String"
			},
			"folder": {
				"type": "String"
			},
			"filenamewithextension": {
				"type": "String"
			},
			"dataHeaderRowNumber": {
				"type": "Int"
			}
		},
		"variables": {
			"Delimiter": {
				"type": "String"
			},
			"FileReceivedID": {
				"type": "String"
			},
			"InboundSourceSetupID": {
				"type": "String"
			},
			"mastermetadataID": {
				"type": "String"
			},
			"container": {
				"type": "String"
			},
			"folder": {
				"type": "String"
			},
			"filenamewithextension": {
				"type": "String"
			},
			"dataHeaderRowNumber": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-02-04T05:40:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}