pipeline/DynamicamappingXLS headerless.json
{
	"name": "DynamicamappingXLS headerless",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_getColumnMapping]",
						"storedProcedureParameters": {
							"inboundSourceSetupID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.inboundsourcesetupid",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data XLSX Headerless",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"additionalColumns": [
							{
								"name": "InboundSourceSetupID",
								"value": {
									"value": "@pipeline().parameters.inboundsourcesetupid",
									"type": "Expression"
								}
							},
							{
								"name": "FileReceivedID",
								"value": {
									"value": "@pipeline().parameters.filereceivedid",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"value": "@json(activity('Lookup1').output.firstRow.json_output)",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "ExcelHeaderlessData",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"Folder": {
								"value": "@pipeline().parameters.folder",
								"type": "Expression"
							},
							"filenamewithextension": {
								"value": "@pipeline().parameters.filenamewithextension",
								"type": "Expression"
							},
							"Sheet": {
								"value": "@pipeline().parameters.Sheet",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlIngestionTable",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"inboundsourcesetupid": {
				"type": "String"
			},
			"filereceivedid": {
				"type": "String"
			},
			"FileVendorID": {
				"type": "String"
			},
			"container": {
				"type": "String"
			},
			"folder": {
				"type": "String"
			},
			"Sheet": {
				"type": "String"
			},
			"filenamewithextension": {
				"type": "String"
			}
		},
		"variables": {
			"inboundsourcesetupID": {
				"type": "String"
			},
			"filereceivedID": {
				"type": "String"
			},
			"container": {
				"type": "String"
			},
			"folder": {
				"type": "String"
			},
			"sheet": {
				"type": "String"
			},
			"filenamewithextension": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-02-10T18:08:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}